<article class="wiki-card home-card">
  <div class="bossbar"><span><%= config.title %></span></div>
  <% if (page.content) { %>
    <%- page.content %>
  <% } else { %>
    <h1>RSMP S2 Wiki</h1>
    <p>欢迎来到 RSMP S2 玩家手册。</p>
  <% } %>
</article>
